@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap");

/* !core */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --ff-primary: "Roboto", sans-serif;
  --ff-secondary: "Open Sans", sans-serif;
  --light-blue: rgb(56, 109, 153);
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--ff-primary);
  height: 0vh;
}

a {
  text-decoration: none;
}

a:focus {
  outline: none;
}

a:hover {
  opacity: 0.6;
}

ul {
  list-style-type: none;
}

img {
  width: 110px;
}

/* !class and ID */

.nav-bar {
  background: white;
  z-index: 9;
}

.inner-nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 90%;
  max-width: 1200px;
  margin: auto;
  height: 70px;
}

.nav-menu {
  display: none;
}

.hamburger button{
  font-size: 25px;
  background: transparent;
  border: none;
  cursor: pointer;
}


.mobile-menu {
  background: #fff;
  height: 0;
  overflow: hidden;
  transition: 0.4s;
  /* z-index: 9; */
}

.mobile-menu a {
  display: inline-block;
  width: 100%;
  padding: 10px 5%;
  font-size: 20px;
  color: var(--light-blue);
}

.mobile-menu li:last-child a {
  padding-bottom: 20px;
}

.mobile-menu a:hover {
  background: white;
}

/* mobile menu on scroll */

.scroll-mobile-menu {
  position: fixed;
  top: 70px;
  left: 0;
  right: 0;
}

/* on click */

.show-mobile-menu {
  height: 180px;
}


/* hero */

.hero {
  position: absolute;
  top: 70px;
  left: 0;
  right: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  background: linear-gradient(rgba(248, 70, 0, 0.288), rgba(0, 0, 0, 0.7)), 
  url("https://images.unsplash.com/photo-1623265174181-4095a1a35702?ixid=MnwxMjA3fDB8MHxwaG90by1vZi10aGUtZGF5fHx8fGVufDB8fHx8&ixlib=rb-1.2.1&dpr=1&auto=format%2Ccompress&fit=crop&w=5399&h=594%201x,%20https://images.unsplash.com/photo-1623265174181-4095a1a35702?ixid=MnwxMjA3fDB8MHxwaG90by1vZi10aGUtZGF5fHx8fGVufDB8fHx8&ixlib=rb-1.2.1&dpr=2&auto=format%2Ccompress&fit=crop&w=5399&h=594%202x")
    center/cover no-repeat;
  height: 100vh;

  z-index: -1;
  transition: 0.4s;
}

.reduce-hero-height {
  /* height: 110vh; */
  /* top: 140px; */
}

.hero-text-div {
  max-width: 400px;
  color: white;
  text-align: center;
}

.hero-text-div h1 {
  font-size: 3rem;
}
.hero-text-div p {
  font-size: .8rem;
  margin: 15px 0 40px;
}
.hero-text-div a {
  font-size: 1.2rem;
  border: 2px solid white;
  padding: 10px;
  color: white;
  transition: .4s;
}

.hero-text-div a:hover {
  background: white;
  color: var(--light-blue);
  opacity: 1;
}

@media (min-width: 768px) {
  .nav-bar {
    background: transparent;
  }
  
  .hamburger {
    display: none;
  }
  .nav-menu {
    display: flex;
    justify-content: space-between;
    width: 350px;
    font-size: 20px;
    margin-right: 30px;
  }

  .nav-menu a {
    color: white;
  }

  .hero {
    position: absolute;
    top: 0;
  }
  .scroll-mobile-menu {
    display: none;
  }
}

.other-sections {
  position: relative;
  top: 110vh;
}

.other-sections section {
  display: flex;
  justify-content: center;
  height: 50vh;
  padding-top: 20px;
}

.other-sections span {
  color: var(--light-blue);
}

/* fixed-bar */

.fixed-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: white;
}
.fixed-bar a {
  color: var(--light-blue);
}