@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap");

/* !core */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --ff-primary: "Roboto", sans-serif;
  --ff-secondary: "Open Sans", sans-serif;
  --light-blue: rgb(56, 109, 153);
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--ff-primary);
  height: 0vh;
}

a {
  text-decoration: none;
}

a:focus {
  outline: none;
}

a:hover {
  opacity: 0.6;
}

ul {
  list-style-type: none;
}



/* !class and ID */

.logo img {
  width: 110px;
}

.nav-bar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;

  background: white;
  height: 70px; /*this changes to the height of the .show-menu class*/
  overflow: hidden;
  transition: 0.4s;
}

/* fixed-bar */

.fixed-bar {
  position: fixed;
}

/* on click */
.show-menu {
  height: 295px;
}

.nav-bar nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  width: 90%;
  max-width: 1200px;
  margin: auto;
}

.nav-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: 0.4s;
}

.nav-menu a {
  padding: 15px 40px;
  display: inline-block;
  width: 100%;
  color: var(--light-blue);
  font-size: 1.2rem;
}

/* hamburger */

.hamburger button {
  background: transparent;
  border: none;
  font-size: 1.5rem;
}

/* hero section */

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(rgba(2, 186, 241, 0.5), rgba(0, 0, 0, 0.7)),
    url("https://images.unsplash.com/photo-1624991115668-326b77afdccb?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=80")
      center/cover no-repeat;
      transition: .4s;
}

/* zoom-hero */

.zoom-hero {
  min-height: 120vh;
}

.hero-text-div {
  max-width: 400px;
  text-align: center;
  color: white;
}

.hero-text-div h1 {
  font-size: 2.5rem;
}
.hero-text-div p {
  font-size: 1rem;
  padding: 20px 0;
}
.hero-text-div a {
  font-size: 1.3rem;
  color: white;
  border: 2px solid white;
  padding: 10px;
  transition: .4s;
}

.hero-text-div a:hover {
  opacity: 1;
  background: white;
  color: var(--light-blue);
}

/* other sections */

.other-sections {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.other-sections section {
  padding-top: 70px;
  height: 50vh;
}



/* !media */

@media (min-width: 768px) {
  .hamburger {
    display: none;
  }
  .nav-bar {
    background: transparent;
  }
  .nav-menu {
    position: absolute;
    top: 0;
    right: 40px;

    flex-direction: row;
    align-items: center;

    height: 70px;
  }
  .nav-menu a {
    color: white;
    font-weight: 600;
  }
  .fixed-bar {
    background: white;
  }
  .fixed-bar a {
    color: var(--light-blue);
  }
}

@media (min-width: 1350px) {
  .nav-menu {
    right: 10vw;
  }
}
@media (min-width: 1800px) {
  .nav-menu {
    right: 18vw;
  }
}